//custom variables

//$primary: #c29938;
//$form-select-indicator-color: #b67e00;
////$secondary: #fbf5e5;
//$secondary: rgba(238, 230, 215, 0);
//$secondary: black;


//$primary: #00446e;
//$form-select-indicator-color: #00446e;
//$secondary: #e3f3ff;

//$primary: #6c0000;
//$form-select-indicator-color: #6c0000;
//$secondary: #d9abab;

$primary: #ffc107;
$form-select-indicator-color: #ffc107;
$secondary: rgba(255, 193, 7, 0.5);

//$input-bg: #ded5c0;
//import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";


